@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "../../../../assets/scss/normalize.scss";
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/font-sizes";

.menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: [row] 1fr;
}

.menu-item {
  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.menu-item a {
  text-decoration: none;
  color: $white-text-color;
  cursor: pointer;
  padding: 10px;
}

.menu-item a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
