<div class="menu">
  <div class="menu-item"><a [routerLink]="['/profiles']">Profiles</a></div>
  <div class="menu-item"><a [routerLink]="['/invoices']">Invoices</a></div>
  <div class="menu-item"><a [routerLink]="['/vehicles']">Vehicles</a></div>
  <div class="menu-item"><a [routerLink]="['/taxes']">Taxes</a></div>
  <div class="menu-item"><a (click)="logout()">Logout</a></div>
</div>
