<h2>Regions</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>BasePrice</th>
  </tr>
  <tbody>
  <tr class="table-row"
      *ngFor="let region of regions | paginate: { itemsPerPage: 20, currentPage: p }">
    <td class="table-cell" align="middle">{{region?.id}}</td>
    <td class="table-cell" align="middle">{{region?.name}}</td>
    <td class="table-cell" align="middle">{{region?.basePrice}}</td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
