<div class="wrapper">
  <div class="container">
    <div class="login-form">
      <form [formGroup]="loginForm" (submit)="login($event, username.value, password.value)">
        <label class="title form-field" for="usernameField">Username:</label>
        <input #username formControlName="username" class="form-field" [ngClass]="{'error': usernameError}" id="usernameField" type="text" placeholder="username" autocomplete="username" (blur)="resetError('username')">
        <app-warning-box id="username-warning" [visible]="usernameError" [text]="'Username is wrong'"></app-warning-box>
        <label class="title form-field" for="passwordField">Password:</label>
        <input #password formControlName="password" class="form-field" [ngClass]="{'error': passwordError}" id="passwordField" type="password" placeholder="password" autocomplete="current-password" (blur)="resetError('password')">
        <app-warning-box id="password-warning" [visible]="passwordError" [text]="'Password is wrong'"></app-warning-box>
        <div class="buttons">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
