//imports
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/breakpoints";

//styling
.wrapper {
  display: grid;
  grid-template-columns: [col] 1fr [col]3fr [col]1fr;
  grid-template-rows: [row] 1fr;
  height: fit-content;
  @media screen and (max-width: $break-xs){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 1fr;
  }
  @media screen and (min-width: $break-xs + 1) and (max-width: $break-s){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 1fr;
  }
  @media screen and (min-width: $break-s + 1) and (max-width: $break-m){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 1fr;
  }
}

.container {
  grid-column: col 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 1fr;
  grid-gap: 10px;
  @media screen and (max-width: $break-xs){
    grid-column: col 1;
  }
  @media screen and (min-width: $break-xs + 1) and (max-width: $break-s){
    grid-column: col 1;
  }
  @media screen and (min-width: $break-s + 1) and (max-width: $break-m){
    grid-column: col 1;
  }
}

.login-form {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px;
}

.form-field{
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.form-field.error{
  border: 1px solid $warning-box-border;
  color: $warning-box-border;
}

.buttons{
  button{
    float: right;
  }
}
