<div class="box-container">
  <h2>Info</h2>
  <form (submit)="onSubmit()">
    <table class="box-table">
      <tbody>
      <tr>
        <td class="table-header">Id:</td>
        <td><b>{{vehicle?.id}}</b></td>
      </tr>
      <tr>
        <td class="table-header">Username:</td>
        <td>{{vehicle?.licensePlate}}</td>
      </tr>
      <tr>
        <td class="table-header">Country:</td>
        <td><span>{{vehicle?.registeredCountry}}</span></td>
      </tr>
      <tr>
        <td class="table-header">Brand:</td>
        <td><span>{{vehicle?.brand}}</span></td>
      </tr>
      <tr>
        <td class="table-header">Model:</td>
        <td><span>{{vehicle?.model}}</span></td>
      </tr>
      <tr>
        <td class="table-header">RateCategory:</td>
        <td><span>{{vehicle?.rateCategory}}</span></td>
      </tr>
      <tr>
        <td class="table-header">
         OwnerID:
        </td>
        <td *ngIf="edit"><p>
          <input #ownerId type="text" value="{{vehicle?.ownerId}}"> <br>
        </p></td>
        <td *ngIf="!edit"><p>
          <span>{{vehicle?.ownerId}}</span><br>
        </p></td>
      </tr>
      </tbody>
    </table>
    <div class="table-actions" *ngIf="edit">
      <button class="primary-button">Save</button>
      <button class="warning-button" routerLink="{{['/vehicles']}}">Cancel</button>
    </div>
  </form>
</div>
