<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="content-wrapper">
        <app-vehicle-box [vehicle]="vehicle" (edited)="onEdit($event)"></app-vehicle-box>
        <app-profile-box [customer]="owner" [edit]="false"></app-profile-box>
        <app-map [movements]="movements"></app-map>
      </div>
    </div>
  </div>
</div>

