//imports
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/breakpoints";

//styling
.wrapper{
  display: grid;
  grid-template-columns: [col] 1fr [col]3fr [col]1fr;
  grid-template-rows: [row] 100vh;
  @media screen and (max-width: $break-xs){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 100vh;
  }
  @media screen and (min-width: $break-xs + 1) and (max-width: $break-s){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 100vh;
  }
  @media screen and (min-width: $break-s + 1) and (max-width: $break-m){
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row] 100vh;
  }
}

.container{
  grid-column: col 2;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 100px [row] 80px [row] 100%;
  height: fit-content;
  background-color: $white-background;
  box-shadow: 0 0 10px 3px rgba(204,204,204,1);
  @media screen and (max-width: $break-xs){
    grid-column: col 1;
    grid-row: row 1;
  }
  @media screen and (max-width: $break-s){
    grid-column: col 1;
    grid-row: row 1;
  }
  @media screen and (max-width: $break-m){
    grid-column: col 1;
    grid-row: row 1;
  }
}

.banner{
  grid-column: col 1;
  grid-row: row 2;
  display: grid;
  grid-template-columns: repeat(5, [col] 1fr);
  grid-template-rows: [row] 1fr;
  background-color: $banner-background;
  padding-left: 10px;

  .logo{
    grid-column: col 1;
    grid-row: row 1;
    justify-self: center;
    align-self: center;
  }

  app-menu{
    grid-column: col 3 / span 3;
    grid-row: row 1;
    @media screen and (max-width: $break-xs){
      grid-column: col 2 / span 4;
      grid-row: row 1;
    }
    @media screen and (max-width: $break-s){
      grid-column: col 2 / span 4;
      grid-row: row 1;
    }
    @media screen and (max-width: $break-m){
      grid-column: col 3 / span 3;
      grid-row: row 1;
    }
  }
}

.content{
  grid-column: col 1;
  grid-row: row 3;
  padding: 10px;
}
