<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <app-profile-list [profiles]="customers"></app-profile-list>
    </div>
  </div>
</div>
