<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <app-invoice-list [invoices]="invoices" (recalculate)="onRecalculate($event)"></app-invoice-list>
    </div>
  </div>
</div>
