<h2>Vehicles</h2>
<table>
  <tr>
    <th>id</th>
    <th>License plate</th>
    <th>registered country</th>
    <th>brand</th>
    <th>model</th>
    <th>rate category</th>
    <th>actions</th>
  </tr>
  <tbody>
    <tr class="table-row"
      *ngFor="let vehicle of vehicles | paginate: { itemsPerPage: 20, currentPage: p }">
      <td class="table-cell" align="middle">{{vehicle?.id}}</td>
      <td class="table-cell" align="middle">{{vehicle?.licensePlate}}</td>
      <td class="table-cell" align="middle">{{vehicle?.registeredCountry}}</td>
      <td class="table-cell" align="middle">{{vehicle?.brand}}</td>
      <td class="table-cell" align="middle">{{vehicle?.model}}</td>
      <td class="table-cell" align="middle">{{vehicle?.rateCategory}}</td>
      <td class="table-cell" align="middle">
        <button class="primary-button" (click)="click(vehicle?.id)">Movements</button>
        <button class="primary-button" routerLink="{{['/vehicles/' + vehicle?.id]}}">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
