<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="map-container">
        <app-map [movements]="movements" [startPos]=""></app-map>
      </div>
      <app-vehicle-list [vehicles]="vehicles" (clicked)="onClick($event)"></app-vehicle-list>
    </div>
  </div>
</div>
