<div class="box-container" *ngIf="visible == true">
  <div class="text">
    {{text}}
  </div>
  <div class="close">
    <button (click)="close($event)"><i class="fas fa-times"></i></button>
  </div>
</div>
