//imports
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/breakpoints";

.box-container{
  display: grid;
  grid-template-columns: [col] 95% [col] 5%;
  grid-template-rows: [row] 1fr;
  background-color: $warning-box-background;
  border: 1px solid $warning-box-border;
  border-radius: 3px;
  color: $warning-box-border;
  padding: 2px 5px;
  margin-bottom: 5px;
  .text{

  }

  .close{
    justify-self: right;
    button{
      background: none;
      border: none;
      color: $warning-box-border;
    }
  }
}
