<h2>Invoices</h2>
<table>
  <tr>
    <th>Id</th>
    <th>UserId</th>
    <th>Total</th>
    <th>Payment status</th>
    <th>Creation date</th>
    <th>Fulfilled date</th>
    <th>Actions</th>
  </tr>
  <tbody>
  <tr class="table-row"
      *ngFor="let invoice of invoices | paginate: { itemsPerPage: 20, currentPage: p }">
    <td class="table-cell" align="middle">{{invoice?.id}}</td>
    <td class="table-cell" align="middle">{{invoice?.userId}}</td>
    <td class="table-cell" align="middle">€{{invoice?.totalAmount | number:'1.2-2'}}</td>
    <td class="table-cell" align="middle">{{invoice?.paymentStatus}}</td>
    <td class="table-cell" align="middle">{{invoice?.creationDate | dateFormat}}</td>
    <td class="table-cell" align="middle">{{invoice?.fulfilledDate == null ? "Payment is not fullfilled " : invoice?.fulfilledDate | dateFormat}}</td>
    <td class="table-cell" align="middle"><button class="primary-button" (click)="click(invoice?.id)">Recalculate</button></td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
