<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="map-container">
        <app-map [regions]="regions" [startPos]=""></app-map>
      </div>
      <app-region-list [regions]="regions"></app-region-list>
    </div>
  </div>
</div>
