<h2>Profiles</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Location</th>
    <th>Email</th>
    <th>actions</th>
  </tr>
  <tbody>
  <tr class="table-row"
      *ngFor="let profile of profiles | paginate: { itemsPerPage: 20, currentPage: p }">
    <td class="table-cell" align="middle">{{profile?.id}}</td>
    <td class="table-cell" align="middle">{{profile?.name}}</td>
    <td class="table-cell" align="middle">{{profile?.username}}</td>
    <td class="table-cell" align="middle">{{profile?.location?.city}}</td>
    <td class="table-cell" align="middle">{{profile?.email}}</td>
    <td class="table-cell" align="middle"><button class="primary-button" routerLink="{{['/profiles/' + profile?.id]}}">Edit</button></td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
