//imports
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "assets/scss/normalize.scss";
@import "assets/scss/colors";
@import "assets/scss/font-sizes";

//styling
body {
  background-color: $main-background;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

input{
  font-size: $size-input;
  padding: 2px 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
}

button{
  cursor: pointer;
}

a{
  cursor: pointer;
}

//buttons
.button{
  border-radius: 4px;
  border: none;
  padding: 5px;
}

.primary-button{
  @extend .button;
  color: $white-text-color;
  background-color: $brand-color;
}

.primary-button:hover{
  background-color: $brand-color-dark;
}

.warning-button{
  @extend .button;
  color: $main-text-color;
  background-color: $warning-box-background;
}

.warning-button:hover {
  background-color: darken($warning-box-background, 10);
}
.title{
  font-weight: 600;
  font-size: $size-title;
  margin-bottom: 2px;
}

.ngx-pagination .current {
  background: #004d44 !important;
}

.box-container{
  height: 100%;
  border: 1px solid #ccc;
}

.box-container form{
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 1fr;
}

.box-table{
  align-self: center;
  justify-self: center;
  padding: 2px 10px;
  width: fit-content;
  border: 1px solid transparent;
}

.box-table tbody tr{
}

.box-table tbody tr td{

}

.box-table tbody tr .table-header{
  font-weight: bold;
}

.table-actions button{
  margin: 2px;
  margin-top: 5px;
  display: inline-block;
  float: right;
}


