<agm-map [latitude]="startPos.lat" [longitude]="startPos.lon" [zoom]="zoom">
  <agm-polyline [strokeColor]="'#004d44'" *ngIf="movements != null">
    <agm-polyline-point
      *ngFor="let movement of movements"
      [latitude]="movement.position.lat"
      [longitude]="movement.position.lon">
    </agm-polyline-point>
  </agm-polyline>
  <agm-polygon *ngFor="let region of regions" [paths]="[
    {lat: region?.beginPoint.lat, lng: region?.beginPoint.lon},
    {lat: region?.beginPoint.lat, lng: region?.endPoint.lon},
    {lat: region?.endPoint.lat, lng: region?.endPoint.lon},
    {lat: region?.endPoint.lat, lng: region?.beginPoint.lon}
    ]" [strokeColor]="'#004d44'">
    <agm-marker
      [latitude]="(region?.beginPoint.lat + region?.endPoint.lat) / 2"
      [longitude]="(region?.beginPoint.lon + region?.endPoint.lon)/2"
      label="{{region.id}}">
      <agm-info-window >{{region?.name}}</agm-info-window>
    </agm-marker>
  </agm-polygon>
</agm-map>
