<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
