<div class="wrapper">
  <div class="container">
    <div class="banner">
      <img src="../../../../assets/images/logo.png" alt="" class="logo">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="content-wrapper">
        <app-profile-box [customer]="customer" [edit]="false" (edited)="onEdit($event)"></app-profile-box>
        <app-invoice-list [invoices]="invoices"></app-invoice-list>
        <app-vehicle-list [vehicles]="vehicles"></app-vehicle-list>
      </div>
    </div>
  </div>
</div>

