<div class="box-container">
  <h2>Info</h2>
  <form (submit)="onSubmit(address.value, zipCode.value, city.value)">
    <table class="box-table">
      <tbody>
      <tr>
        <td class="table-header">Name:</td>
        <td><b>{{customer?.name}}</b></td>
      </tr>
      <tr>
        <td class="table-header">Username:</td>
        <td>{{customer?.username}}</td>
      </tr>
      <tr>
        <td class="table-header">Email:</td>
        <td><span>{{customer?.email}}</span></td>
      </tr>
      <tr>
        <td class="table-header">
          Address: <br><br>
          ZipCode: <br><br>
          City: <br><br>
        </td>
        <td *ngIf="edit"><p>
          <input #address type="text" value="{{customer?.location?.address}}"> <br>
          <input #zipCode type="text" value="{{customer?.location?.zipCode}}"> <br>
          <input #city type="text" value="{{customer?.location?.city}}"> <br>
        </p></td>
        <td *ngIf="!edit"><p>
          <span>{{customer?.location?.address}}</span> <br>
          <span>{{customer?.location?.zipCode}}</span> <br>
          <span>{{customer?.location?.city}}</span> <br>
        </p></td>
      </tr>
      </tbody>
    </table>
    <div class="table-actions" *ngIf="edit">
      <button class="primary-button">Save</button>
      <button class="warning-button" routerLink="{{['/profiles/']}}">Cancel</button>
    </div>
  </form>
</div>
