//color scheme
$brand-color: #004d44;
$brand-color-dark: darken($brand-color, 20);
$brand-color-light: lighten($brand-color, 20);

//background colors
$main-background: #f3f5f6;
$white-background: #fff;
$banner-background: $brand-color;
$alert-box-background: #fdf6bb;
$warning-box-background: #ff857d;

//text colors
$main-text-color: #000;
$white-text-color: #fff;

//border colors
$alert-box-border: darken($alert-box-background, 20);
$warning-box-border: darken($warning-box-background, 40);
